/****** Object:  Database [MeowgicDb]    Script Date: 11/6/2024 8:20:02 AM ******/
CREATE DATABASE [MeowgicDb]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/6/2024 8:20:02 AM ******/
USE [MeowgicDb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Dob] [date] NULL,
	[Gender] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Rate] [float] NULL,
	[Premium] [bit] NOT NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[ResetToken] [nvarchar](max) NULL,
	[ResetTokenExpires] [datetime2](7) NULL,
	[VerificationToken] [nvarchar](max) NULL,
	[VerificationTokenExpires] [datetime2](7) NULL,
	[isConfirmed] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[countTarot] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Specialization] [nvarchar](max) NULL,
	[bankAccount] [nvarchar](max) NULL,
	[yearsOfExperience] [float] NULL,
	[otpResetPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardMeanings]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardMeanings](
	[Id] [nvarchar](450) NOT NULL,
	[CategoryId] [nvarchar](450) NOT NULL,
	[CardId] [nvarchar](450) NOT NULL,
	[Meaning] [nvarchar](max) NOT NULL,
	[ReMeaning] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_CardMeanings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImgUrl] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Cards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](450) NOT NULL,
	[OrderDetailId] [nvarchar](450) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NULL,
	[ServiceId] [nvarchar](450) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
	[ScheduleReaderId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](450) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DiscountPercent] [float] NOT NULL,
	[MaxDiscount] [float] NOT NULL,
	[ExpireTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryId] [nvarchar](450) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleReaders]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleReaders](
	[Id] [nvarchar](450) NOT NULL,
	[DayOfWeek] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsBooked] [bit] NOT NULL,
	[AccountId] [nvarchar](450) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_ScheduleReaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Rate] [float] NOT NULL,
	[PromotionId] [nvarchar](450) NULL,
	[isSpecial] [bit] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zodiac]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zodiac](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImgLink] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Zodiac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZodiacColor]    Script Date: 11/6/2024 8:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZodiacColor](
	[Id] [nvarchar](450) NOT NULL,
	[BasicColor] [nvarchar](max) NOT NULL,
	[SignatureColor] [nvarchar](max) NOT NULL,
	[AvoidColor] [nvarchar](max) NOT NULL,
	[ZodiacId] [nvarchar](450) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[LastUpdatedTime] [datetime2](7) NULL,
	[DeletedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_ZodiacColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240910193615_init', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240915145507_init1', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240921153929_init2', N'8.0.8')
GO
INSERT [dbo].[Cards] ([Id], [Name], [ImgUrl], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'0b0a2a17-6ad9-4874-a86f-1d087b8b9284', N'The Fool', N'https://firebasestorage.googleapis.com/v0/b/tarot-7c905.appspot.com/o/Fool.jpg?alt=media&token=ddaa3bb6-8a48-4145-bef2-77d3dfc9c301', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cards] ([Id], [Name], [ImgUrl], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'1e03151d-3bfa-4a3c-9a7c-b5bff572b44b', N'The Empress', N'https://firebasestorage.googleapis.com/v0/b/tarot-7c905.appspot.com/o/Empress.jpg?alt=media&token=bd843bf0-2a23-4e7f-9727-beb7b4857d25', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cards] ([Id], [Name], [ImgUrl], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'1fc0b07b-6c69-48f2-90e3-1b51c4f55092', N'Queen of Cups', N'https://firebasestorage.googleapis.com/v0/b/tarot-7c905.appspot.com/o/QueenOfCups.jpg?alt=media&token=a6621641-8e15-4f5f-be25-6156f844f6fa', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Categories] ([Id], [Name], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'5f465cf4-b700-4016-8cc0-8babbf9c32f1', N'Love', NULL, NULL, NULL, CAST(N'2024-09-18T14:01:05.4057338' AS DateTime2), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'996d5cfe-63dc-40a7-a19e-d5e6a68bd97a', N'Study', NULL, NULL, NULL, CAST(N'2024-09-19T14:42:05.7515025' AS DateTime2), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'c3efd74c-4f97-4e51-a5f9-d05cc3ba11e9', N'General', NULL, NULL, NULL, CAST(N'2024-09-18T14:02:06.9243559' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ServiceId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ScheduleReaderId]) VALUES (N'00a74d8e-6a15-4fbf-8e87-641939222054', N'OD0053', N'A12EEBAA-7812-4DBF-8A96-31F2A6B73271', N'4f53362c-df4a-4a30-9016-92ee245f0f4a', NULL, NULL, CAST(N'2024-11-05T00:44:11.5565997' AS DateTime2), NULL, NULL, N'c7301a73-3f03-49b1-9f05-f577a711189a')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ServiceId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ScheduleReaderId]) VALUES (N'0497c37e-9644-493e-8a91-4ad7e398a709', N'OD0058', N'251D3B7C-E250-4BAF-8BDD-15305975F73D', N'16ed55d4-057f-401e-9bc3-a6288a3897c2', NULL, NULL, CAST(N'2024-11-05T10:43:34.7676227' AS DateTime2), NULL, NULL, N'f4VDK5Ae4kaFJr52oj5WHA')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ServiceId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime], [ScheduleReaderId]) VALUES (N'121899d4-4da4-4156-ac26-5b347d96f60e', N'OD0040', N'251D3B7C-E250-4BAF-8BDD-15305975F73D', N'663f1285-b45a-46c1-82cb-f4c55dcce8f8', NULL, NULL, CAST(N'2024-11-04T13:25:30.7042013' AS DateTime2), NULL, NULL, N'17DEzUTXV0+bs65l4hnHjQ')
GO
INSERT [dbo].[Orders] ([Id], [AccountId], [TotalPrice], [OrderDate], [Status], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'OD0039', N'67753fd0-8255-4fd6-8dab-750bda1c4747', CAST(20000.00 AS Decimal(18, 2)), CAST(N'2024-11-04T13:02:39.0421699' AS DateTime2), N'Paid', NULL, NULL, NULL, CAST(N'2024-11-04T13:02:39.0421634' AS DateTime2), NULL, NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [TotalPrice], [OrderDate], [Status], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'OD0040', N'663f1285-b45a-46c1-82cb-f4c55dcce8f8', CAST(20000.00 AS Decimal(18, 2)), CAST(N'2024-11-04T13:26:01.9200937' AS DateTime2), N'Paid', NULL, NULL, NULL, CAST(N'2024-11-04T13:26:01.9200844' AS DateTime2), NULL, NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [TotalPrice], [OrderDate], [Status], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'OD0041', N'3678a7ec-7a7e-4793-9415-5efcf610899d', CAST(100000.00 AS Decimal(18, 2)), CAST(N'2024-11-04T14:16:45.2408805' AS DateTime2), N'Paid', NULL, NULL, NULL, CAST(N'2024-11-04T14:16:45.2408721' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[ScheduleReaders] ([Id], [DayOfWeek], [StartTime], [EndTime], [IsBooked], [AccountId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'09a48b70-bdb0-482b-b83b-945f1be14c24', CAST(N'2024-11-12' AS Date), CAST(N'08:00:00' AS Time), CAST(N'08:59:00' AS Time), 0, N'c73ad934-16b3-4c03-80ce-6107d5b6735c', NULL, NULL, NULL, CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ScheduleReaders] ([Id], [DayOfWeek], [StartTime], [EndTime], [IsBooked], [AccountId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'09b01f83-1421-4459-abe7-457d97465644', CAST(N'2024-11-13' AS Date), CAST(N'08:00:00' AS Time), CAST(N'08:59:00' AS Time), 0, N'c73ad934-16b3-4c03-80ce-6107d5b6735c', NULL, NULL, NULL, CAST(N'2024-11-05T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[ScheduleReaders] ([Id], [DayOfWeek], [StartTime], [EndTime], [IsBooked], [AccountId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'0a9e017f-5b76-4202-ac07-d4d721dc179c', CAST(N'2024-11-09' AS Date), CAST(N'20:00:00' AS Time), CAST(N'20:59:00' AS Time), 1, N'c73ad934-16b3-4c03-80ce-6107d5b6735c', NULL, NULL, NULL, CAST(N'2024-11-04T12:22:15.9584042' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[Services] ([Id], [AccountId], [Name], [Description], [ImgUrl], [Price], [Rate], [PromotionId], [isSpecial]) VALUES (N'04D03A82-894B-4437-BDA1-12F31E0D3542', N'e5bc9679-9bfd-46e1-9d1d-081cdb731d07', N'Gói tổng quan tháng', N'Reader sẽ nhận câu hỏi, đưa ra câu trả lời chi tiết và cụ thể về vấn đề mà bạn đang quan tâm. Số lượng câu trả lời tương ứng với số lượng câu hỏi lẻ mà bạn đăng kí. Gói trải bài sẽ giúp bạn giải quyết những thắc mắc mà bạn đang gặp phải và đưa ra lời khuyên nhanh nhất cho vấn đề đó.', N'https://i.imgur.com/U0LKj2Q.png', 1000000, 5, NULL, 1)
INSERT [dbo].[Services] ([Id], [AccountId], [Name], [Description], [ImgUrl], [Price], [Rate], [PromotionId], [isSpecial]) VALUES (N'0E9AC8B7-8B08-41AA-AD7F-CCA6FCE3750B', N'c73ad934-16b3-4c03-80ce-6107d5b6735c', N'Gói trải bài 6 câu hỏi', N'Gói bài sẽ cung cấp cái nhìn tổng quan, những thuận lợi và khó khăn cho tuần mới của bạn. Reader sẽ dự đoán và đưa ra lời khuyên cho những sự kiện có thể xảy ra với bạn, giúp bạn chuẩn bị trước các tình huống hay định hướng cho những cơ hội mới cho mà bản thân chưa nhận ra.', N'https://i.imgur.com/CoQv8Ta.png', 100000, 5, NULL, 0)
GO
INSERT [dbo].[Zodiac] ([Id], [Name], [Description], [ImgLink], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'082221E5-7528-4A32-8997-D591DEA6A306', N'CANCER', N'Cung Cự Giải là một trong 12 cung hoàng đạo, nằm ở vị trí thứ 4 trong chu kỳ hoàng đạo. Cung này sinh từ 21/6 đến 22/7. Cung này thuộc nguyên tố Nước và mang trong mình phẩm chất nhạy cảm, bảo vệ và tận tâm. Người thuộc cung Cự Giải thường có tình cảm sâu sắc và chú trọng đến gia đình.', N'https://i.imgur.com/zdW2igg.png', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Zodiac] ([Id], [Name], [Description], [ImgLink], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'0F15B26D-BFE9-4854-AAAC-37C94442D65C', N'TAURUS', N'Cung Kim Ngưu là một trong 12 cung hoàng đạo, nằm ở vị trí thứ 2 trong chu kỳ hoàng đạo. Cung này sinh từ 20/4 đến 20/5. Cung này thuộc nguyên tố Đất và mang trong mình phẩm chất kiên định, ổn định và thực tế. Người thuộc cung Kim Ngưu thường có sự kiên nhẫn, đáng tin cậy và yêu thích sự thoải mái.', N'https://i.imgur.com/hFztC8D.png', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Zodiac] ([Id], [Name], [Description], [ImgLink], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'30060201-E65B-4495-926F-E05B522028DD', N'CAPRICORN', N'Cung Ma Kết là một trong 12 cung hoàng đạo, nằm ở vị trí thứ 10 trong chu kỳ hoàng đạo. Cung này sinh từ 22/12 đến 19/1. Cung này thuộc nguyên tố Đất và mang trong mình phẩm chất chăm chỉ, quyết tâm và kiên nhẫn. Người thuộc cung Ma Kết thường có tính cách thực tế, cầu tiến và nghiêm túc.', N'https://i.imgur.com/S38VSNh.png', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ZodiacColor] ([Id], [BasicColor], [SignatureColor], [AvoidColor], [ZodiacId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'0J2L4M70-1N5K-3O3L-J2I2-DD2L7O01O24', N'#808080', N'#000000', N'#FFFFFF', N'903B9580-7658-4778-A84A-30A48269D016', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ZodiacColor] ([Id], [BasicColor], [SignatureColor], [AvoidColor], [ZodiacId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'1A3F5D91-2E6B-4F42-BF2A-4B33C8F12F35', N'#FFC0CB', N'#4682B4', N'#FF4500', N'082221E5-7528-4A32-8997-D591DEA6A306', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ZodiacColor] ([Id], [BasicColor], [SignatureColor], [AvoidColor], [ZodiacId], [CreatedBy], [LastUpdatedBy], [DeletedBy], [CreatedTime], [LastUpdatedTime], [DeletedTime]) VALUES (N'1K3M5N81-2O6L-4P4M-K3J3-EE3M8P12P35', N'#2E8B57', N'#A52A2A', N'#ADD8E6', N'927B79BA-F08D-4A20-9B7E-F17D6685B058', NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CardMeanings_CardId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_CardMeanings_CardId] ON [dbo].[CardMeanings]
(
	[CardId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CardMeanings_CategoryId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_CardMeanings_CategoryId] ON [dbo].[CardMeanings]
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_AccountId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_AccountId] ON [dbo].[Feedbacks]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_OrderDetailId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Feedbacks_OrderDetailId] ON [dbo].[Feedbacks]
(
	[OrderDetailId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_ScheduleReaderId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ScheduleReaderId] ON [dbo].[OrderDetails]
(
	[ScheduleReaderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderDetails_ServiceId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ServiceId] ON [dbo].[OrderDetails]
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_AccountId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_AccountId] ON [dbo].[Orders]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Questions_CategoryId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_CategoryId] ON [dbo].[Questions]
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ScheduleReaders_AccountId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleReaders_AccountId] ON [dbo].[ScheduleReaders]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Services_AccountId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Services_AccountId] ON [dbo].[Services]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Services_PromotionId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_Services_PromotionId] ON [dbo].[Services]
(
	[PromotionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ZodiacColor_ZodiacId]    Script Date: 11/6/2024 8:20:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ZodiacColor_ZodiacId] ON [dbo].[ZodiacColor]
(
	[ZodiacId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (N'') FOR [ScheduleReaderId]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (CONVERT([bit],(0))) FOR [isSpecial]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CardMeanings]  WITH CHECK ADD  CONSTRAINT [FK_CardMeanings_Cards_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[Cards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardMeanings] CHECK CONSTRAINT [FK_CardMeanings_Cards_CardId]
GO
ALTER TABLE [dbo].[CardMeanings]  WITH CHECK ADD  CONSTRAINT [FK_CardMeanings_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardMeanings] CHECK CONSTRAINT [FK_CardMeanings_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_OrderDetails_OrderDetailId] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_OrderDetails_OrderDetailId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ScheduleReaders_ScheduleReaderId] FOREIGN KEY([ScheduleReaderId])
REFERENCES [dbo].[ScheduleReaders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ScheduleReaders_ScheduleReaderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Services_ServiceId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ScheduleReaders]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleReaders_AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleReaders] CHECK CONSTRAINT [FK_ScheduleReaders_AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[ZodiacColor]  WITH CHECK ADD  CONSTRAINT [FK_ZodiacColor_Zodiac_ZodiacId] FOREIGN KEY([ZodiacId])
REFERENCES [dbo].[Zodiac] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZodiacColor] CHECK CONSTRAINT [FK_ZodiacColor_Zodiac_ZodiacId]
GO
